.button {
    padding: 10px 40px;
    border: 3px solid black;
    font-weight: 500;
    background-color: rgb(248, 204, 122) !important;
    transition: 0.25s;
    &:hover {
        background-color: rgb(238, 195, 116) !important;
        border-color: #1d1d1db2;
    }
}