.alphabet {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding-inline: 50px;
    > button {
    
        font-size: clamp(16px, 5vw, 48px);
    }

    @media (max-width: 768px) {
        padding-inline: 0px;
    }
}