.header {
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamepad {
    display: inline-block;
    margin-top: 5px;
}

.description {
    max-width: 800pxs;
}

.settingLink {
    color: #00BFFF;
    cursor: pointer;
    &:hover {
        color: #3bceffd7;
    }
}