.header {
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gamepad {
    display: inline-block;
    margin-top: 5px;
}

.description {
    max-width: 800px;
    @media (max-width: 768px) {
        text-align: center;
        font-size: 14px;
    }
}

.settingLink {
    color: #00BFFF !important;
    cursor: pointer;
    &:hover {
        color: #3bceffd7 !important;
    }
    
}

.titleText {
    font-size: 2rem;
    margin-right: 10px;
}